<!DOCTYPE html>
<html>

	<head>
		<link href = "{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	    {{ include('BlogBundle:Entrada:header.html.twig') }}
		{% block body %}{% endblock %}

		

		
	</body>
</html>