<!DOCTYPE html>
<html>
	<head>
		<link href = "{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<h1>Titulo del Post:  {{ id }}</h1>
		
		{% include 'BlogBundle:Post:footer.html.twig' %}
	</body>
</html>
